<section class="profile conct-prof">
    <div class="container">
        <div class="holder3">
            <h2 class="section-heading">Pay Now</h2>
            <div class="signin">
                <div class="col-md-8">
                    <div class="row">
                        <form class="form-horizontal">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Merchant Id" required="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Amount" required="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Order Id" required="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Redirect URL" required="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Bill Name" required="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Bill Address" required="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Bill Country" required="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Bill State" required="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Bill City" required="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Bill Zip" required="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Bill Tel" required="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Bill Email" required="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Ship Name" required="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Ship Address" required="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Ship Country" required="">
                                </div>
                            </div>        
                                                   <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Ship State" required="">
                                </div>
                            </div>                  
                                         <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Delivery City" required="">
                                </div>
                            </div> 
                               <div class="col-md-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Ship Zip" required="">
                                </div>
                            </div>
                               <div class="col-md-6">
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Ship Tel" required="">
                                </div>
                            </div>  
                                                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Delivery Notes" required="">
                                </div>
                            </div>
                            <div class="clear-fix"></div>
                            <div class="col-md-12">
                            <button type="submit" class="btn btn-xl">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
