<section class="profile conct-prof">
    <div class="container">
        <div class="holder3">
            <h2 class="section-heading">Profile</h2>
            <div class="col-md-6">
                <div class="signin">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Old Password *" required="">
                        </div>
                              <div class="form-group">
                            <input type="password" class="form-control" placeholder="New Password *" required="">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Confirm Password  *" required="">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-xl">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
