<section class="profile conct-prof">
    <div class="container">
        <div class="holder3">
            <h2 class="section-heading">Profile</h2>
            <div class="col-md-6">
                <div class="signin">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="profile.name" ng-class="allvalidation[0].validation" placeholder="Name *" required="">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" ng-model="profile.email" ng-class="allvalidation[1].validation" placeholder="Email Id *" required="">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="profile.username" ng-class="allvalidation[2].validation" placeholder="Username *" required="">
                        </div>
                        <div class="form-group" ng-class="allvalidation[3].validation">
                            <h5>Gender *</h5>
                            <label class="radio-inline">
                                <input type="radio" ng-model="profile.gender" value="male" name="optradio">Male</label>
                            <label class="radio-inline">
                                <input type="radio" ng-model="profile.gender" value="female" name="optradio">Female</label>
                        </div>
                        <!--
                            <div class="form-group">
                            <input type="password" class="form-control" placeholder="Old Password *" required="">
                        </div>
                              <div class="form-group">
                            <input type="password" class="form-control" placeholder="New Password *" required="">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Confirm Password  *" required="">
                        </div> 
-->
                        <div class="form-group">
                             <h5>Birth Date *</h5>
                            <input type="date" class="form-control" ng-class="allvalidation[4].validation" ng-model="profile.dob" placeholder="Birth Date *" required="">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-class="allvalidation[5].validation" ng-model="profile.address" placeholder="Address *" required="">
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control" ng-class="allvalidation[6].validation" ng-model="profile.contact" placeholder="Contact *" required="">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" ng-class="allvalidation[7].validation" ng-model="profile.profession" placeholder="Profession *" required="">
                        </div>
                        <div class="form-group">
                            <button type="submit" ng-click="createprofile(profile)" class="btn btn-xl">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
